*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

.content{
    background-color: white;
}
/*Header Section start*/
.header_main {
    color: white;
    text-align: center;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.header_m_img {
    max-width: 80%;
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    position: relative;
}
.header_m_img img {
    height: 50%;
    width: 100%;
    border-radius: 10px;
}
.header_m_text {
    position: absolute;
    font-family: Times New Roman;
}
.header_m_text h1{

}
.header_m_text p {
    font-size: 4rem;
    font-weight: 800;
    line-height: 4.5rem;
}
/*Header Section End*/

/*2nd Section End*/
.happy_banner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.offer_text {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 1rem;
    background: white;
}
.offer_text h1 {
    font-size: 4rem;
    color: red;
    margin-bottom: 1rem;
}
.offer_text h4 {
    color: red;
    font-size: .95rem;
    padding-bottom: .5rem;
}
.offer_text h2{
    font-size: 1.9rem;
}
.offer_img {
    margin-bottom: .5rem;
}
.offer_img img {
    max-width: 600px;
    height: 100%;
}
/*2nd Section End*/

